{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid light-green-bg py-5">
        <div class="container">
            <div class="row">
                <div class="col-10 col-lg-8 offset-1 offset-lg-2 white-container p-sm-5 p-3">
                    <div class="text-center">
                        <h4 class="pb-3">We'd love to know what you think!</h4>
                        {% if product.image %}
                            <img class="review-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="review-img" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                        {% endif %}
                        <p class="pt-2"><strong>{{ product.name }}</strong></p>
                    </div>
                    
                    <form class="px-2 px-sm-3 px-md-5 pt-4" method="POST" action="{% url 'edit_review' review.id %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-flex flex-wrap justify-content-center justify-content-md-end mt-3">
                            <a class="default-btn green-btn mx-2 mt-3" href="{% url 'product_detail' product.id %}">Cancel</a>
                            <button class="default-btn blue-btn mx-2 mt-3" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Set colours based on the initially checked input
            $('#div_id_rating .form-check input').each(function(index) {
                if ($(this).is(':checked')) {
                    $('#div_id_rating .form-check label').each(function(i) {
                        if (i <= index) {
                            $(this).css('color', '#f70');
                        }
                    });
                }
            });

            // Update colours when input changes
            $('#div_id_rating .form-check input').change(function() {
                var checkedIndex = $(this).parent().index();
                $('#div_id_rating .form-check label').each(function(index) {
                    if (index <= checkedIndex) {
                        $(this).css('color', '#f70');
                    } else {
                        $(this).css('color', '');
                    }
                });
            });
        });
    </script>
{% endblock %}