{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero-container">
        <div class="home-content">
            <h1 class="home-heading">Nourish Your Skin with Organic Ingredients</h1>
            <p class="home-text">Dive into our collection of serums, creams, and elixirs - each bottle a testament to the wisdom of nature.</p>
            <p class="home-text">Floar & Fauna invites you to discover your own botanical santuary.</p>
            <a>
                <h4>Explore Our Garden!</h4>
            </a>
        </div>
    </div>
{% endblock %}