{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero-container">
        <div class="home-content">
            <h1 class="home-heading">Nourish Your Skin with<br>Organic Ingredients</h1>
            <p class="home-text">Dive into our collection of serums, creams, and elixirs - each bottle a testament to the wisdom of nature.</p>
            <p class="home-text">Flora & Fauna invites you to discover your own botanical santuary.</p>
            <h4>
                <a href="" class="shop-now-button">Explore Our Garden!</a>
            </h4>
        </div>
    </div>
{% endblock %}