<div class="collapse navbar-collapse" id="main-nav">
    <!-- Product Navigation Links -->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="nav-font nav-link" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font nav-link" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font nav-link" href="#" id="product-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product Type
            </a>
            <div class="dropdown-menu" aria-labelledby="product-type-link">
                <a href="{% url 'products' %}?category=Cleanser" class="dropdown-item">Cleanser</a>
                <a href="{% url 'products' %}?category=Cleansing Butter" class="dropdown-item">Cleansing Butter</a>
                <a href="{% url 'products' %}?category=Toner" class="dropdown-item">Toner</a>
                <a href="{% url 'products' %}?category=Serum" class="dropdown-item">Serum</a>
                <a href="{% url 'products' %}?category=Moisturiser" class="dropdown-item">Moisturiser</a>
                <a href="{% url 'products' %}?category=Night Cream" class="dropdown-item">Night Cream</a>
                <a href="{% url 'products' %}?category=Eye Cream" class="dropdown-item">Eye Cream</a>
                <a href="{% url 'products' %}?category=Facial Mist" class="dropdown-item">Facial Mist</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font nav-link" href="#" id="skin-concern-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skin Concern
            </a>
            <div class="dropdown-menu" aria-labelledby="skin-concern-link">
                <a href="{% url 'products' %}?range=eternal_rose" class="dropdown-item">Mature</a>
                <a href="{% url 'products' %}?range=clear_willow" class="dropdown-item">Acne</a>
                <a href="{% url 'products' %}?range=honey_harmony" class="dropdown-item">Oily</a>
                <a href="{% url 'products' %}?range=aloe_revive" class="dropdown-item">Dry</a>
            </div>
        </li>
    </ul>
</div>