{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-container light-green-bg px-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                <img class="card-img-top img-fluid detail-img" src="/media/{{ product.image }}" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="text-center font-weight-bold mb-0 detail-name">{{ product.name }}</p>
                <p class="text-center mt-1 mb-0">
                    <a href="">{{ product.range.friendly_name }}</a>
                </p>
                {% if product.rating %}
                    <p class="mt-2">{{ product.rating }}</p>
                {% else %}
                    <span class="product-rating mt-2">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </span>
                {% endif %}
                <div class="d-flex justify-content-around align-items-center">
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    <p class="lead mb-0 text-right font-weight-bold">{{ product.size }}</p>
                </div>
                <p class="text-center mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}