{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <div class="container-fluid py-5 light-green-bg">
        <div class="row">
            <div class="col text-center">
                <h2 class="page-heading">Products</h2>
                <img class="underline" src="{{ MEDIA_URL }}underline.webp" alt="decorative underline">
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                <div class="row mt-5 mt-md-4 mb-0">
                    <!-- Product Sort -->
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm input-field -{% if current_sorting != 'None_None' %}{% else %}{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="range_asc" {% if current_sorting == 'range_asc' %}selected{% endif %}>Range (A-Z)</option>
                                <option value="range_desc" {% if current_sorting == 'range_desc' %}selected{% endif %}>Range (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>

                    <!-- Search Results Info -->
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="mt-3 text-center text-md-left green-font">
                            {% if search_term or range or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}" class="underline-link">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for
                            <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>

                <!-- Products -->
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 pt-5">
                            <div class="card h-100 product-card">
                                <!-- Product Image -->
                                {% if product.image %}
                                    <img class="img-fluid product-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="img-fluid product-img" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                                {% endif %}

                                <!-- Wishlist Button -->
                                {% if user.is_authenticated %}
                                    <button class="wishlist-btn wishlist-btn-sm" data-product-item="{{ product.id }}">
                                        {% if product.id in user_wishlist %}
                                            <i class="fa-solid fa-heart"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart"></i>
                                        {% endif %}
                                    </button>
                                {% endif %}

                                <!-- Product Details -->
                                <div class="card-body">
                                    {% if product.range %}
                                        <a class="product-range {{ product.range.name }}" href="{% url 'products' %}?range={{ product.range.name }}" data-toggle="tooltip" data-placement="top" title="See the full range!">
                                            {{ product.range.friendly_name }}
                                        </a>
                                    {% endif %}
                                    <p class="product-name">{{ product.name }}</p>

                                    <!-- Superuser Buttons -->
                                    {% if request.user.is_superuser %}
                                        <div class="text-center m-0 p-0">
                                            <small>
                                                <a href="{% url 'edit_product' product.id %}" class="sm-green-btn mr-2">Edit</a> | 
                                                <button type="button" class="sm-red-btn ml-2" data-toggle="modal" data-target="#delete-modal{{ product.id }}">
                                                    Delete
                                                </button>
                                            </small>
                                        </div>

                                        <!-- Superuser Delete Modal -->
                                        <div class="modal fade" id="delete-modal{{ product.id }}" tabindex="-1" aria-labelledby="modal-label{{ product.id }}" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="modal-label{{ product.id }}"><strong>{{ product.name }}</strong></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this product?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="edit-review-btn green-btn text-uppercase" data-dismiss="modal">No</button>
                                                    <a href="{% url 'delete_product' product.id %}" class="delete-review-btn red-btn text-uppercase">
                                                        Yes
                                                    </a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- Product Rating -->
                                    {% if product.average_rating %}
                                        <span class="product-rating mt-2">
                                            {% for i in "12345" %}
                                                {% if forloop.counter <= product.average_rating %}
                                                    <i class="fa-solid fa-star"></i>
                                                {% else %}
                                                    <i class="fa-regular fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    {% else %}
                                        <span class="product-rating mt-2">
                                            {% for i in "12345" %}
                                                <i class="fa-regular fa-star"></i>
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                    <div class="product-info">
                                        <p>£{{ product.price }}</p>
                                        <p>{{ product.size }}</p>
                                    </div>
                                </div>
                                <!-- Product Buttons -->
                                <div class="card-footer">
                                    <form action="{% url 'add_to_bag' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <button class="product-btn green-btn text-uppercase" type="submit">Add</button>
                                    </form>
                                    <a class="product-btn blue-btn text-uppercase" href="{% url 'product_detail' product.id %}">View</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Return To Top Button -->
    <div class="btt-button">
        <a class="btt-link d-flex h-100">
            <i class="fa-solid fa-angles-up mx-auto my-auto"></i>
        </a>	
    </div>

    <!-- Wishlist Toasts -->
    <div class="toast-container">
        <div id="addToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Item added to Wishlist</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    
        <div id="removeToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Item removed from Wishlist</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // Return To Top Button JavaScript
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0);
		});

        // Initialise Tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
	</script>
    
    <!-- Product Sort JavaScript -->
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>

    <script>    
        $(document).ready(function() {
            // Code modified from https://www.youtube.com/watch?v=AZs4zggS7kA
            // Explicitly hide the toasts on page load
            $('#addToast').removeClass('show').addClass('hide');
            $('#removeToast').removeClass('show').addClass('hide');

            // Initialise toast options
            var option = {
                animation: true,
                delay: 3000
            };

            function showAddToast() {
                var addToastHTMLElement = document.getElementById("addToast");
                var addToastElement = new bootstrap.Toast(addToastHTMLElement, option);
                addToastElement.show();
            }

            function showRemoveToast() {
                var removeToastHTMLElement = document.getElementById("removeToast");
                var removeToastElement = new bootstrap.Toast(removeToastHTMLElement, option);
                removeToastElement.show();
            }

            // Code modified from https://www.youtube.com/watch?v=pdttUeJi7j8
            // Add/Remove Wishlist Item JavaScript
            $(document).on("click", ".wishlist-btn", function () {
                let product_id = $(this).attr("data-product-item");
                let this_val = $(this);

                console.log("Product ID is ", product_id);

                let addedToWishlist = this_val.find("i").hasClass("fa-solid");

                let url;
                if (addedToWishlist) {
                    url = "/wishlist/remove-from-wishlist/";
                } else {
                    url = "/wishlist/add-to-wishlist/";
                }

                $.ajax({
                    url: url,
                    data: {
                        "id": product_id
                    },
                    dataType: "json",
                    beforeSend: function () {
                        console.log("Adding to Wishlist...");
                    },
                    success: function (response) {
                        if (addedToWishlist) {
                            // If item is already in wishlist, remove it
                            this_val.html(`<i class="fa-regular fa-heart"></i>`);
                            showRemoveToast();
                        } else {
                            // If item is not in wishlist, add it
                            this_val.html(`<i class="fa-solid fa-heart"></i>`);
                            showAddToast();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}